@model IEnumerable<FinalGraduationProject.Models.Product>

@{
    var isAdmin = User.IsInRole("Admin");
}
<section>
    <div>
        <div class="slideshow slide-in arrow-absolute text-white" style="height: 70vh;">
            <div class="swiper-wrapper">

                <div class="swiper-slide jarallax swiper-slide-next">

                    <img src="~/images/slide-2.jpg" class="jarallax-img" alt="slideshow">
                    <div class="banner-content w-100">
                        <div class="container-fluid">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-10 pt-5">
                                    <h2 class="display-xl text-white ls-0 mt-5 pt-5 txt-fx slide-up">Sports Collection</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide jarallax">

                    <img src="~/images/slide-3.jpg" class="jarallax-img" alt="slideshow">
                    <div class="banner-content w-100">
                        <div class="container-fluid">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-10 pt-5">
                                    <h2 class="display-xl text-white ls-0 mt-5 pt-5 txt-fx slide-up">Casual Shoes</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="swiper-slide jarallax">

                    <img src="~/images/slide-4.jpg" class="jarallax-img" alt="slideshow">
                    <div class="banner-content w-100">
                        <div class="container-fluid">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-10 pt-5">
                                    <h2 class="display-xl text-white ls-0 mt-5 pt-5 txt-fx slide-up">Clearance Sale</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="pagination-wrapper position-absolute">
                <div class="container">
                    <div class="slideshow-swiper-pagination text-center"></div>
                </div>
            </div>
            <div class="icon-arrow icon-arrow-left text-white">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="icon-arrow icon-arrow-right text-white">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>

        </div>
    </div>
</section>

<section class="features" style="position:relative; margin-top: -100px; z-index: 2;">
    <div class="container-lg">
        <div class="bg-white p-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-2">
                            <svg width="40" height="40">
                                <use xlink:href="#cart"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            <h4 class="element-title text-capitalize mb-2">Pick up in store</h4>
                            <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-2">
                            <svg width="40" height="40">
                                <use xlink:href="#gift"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            <h4 class="element-title text-capitalize mb-2">Special packaging</h4>
                            <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-2">
                            <svg width="40" height="40">
                                <use xlink:href="#love"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            <h4 class="element-title text-capitalize mb-2">Free global returns</h4>
                            <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-4">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="banner-ad bg-secondary-subtle mb-3"
                     style="background: url('/images/ad-image-1.png');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                        <div class="fs-6 pt-5">Upto 25% Off</div>
                        <h3 class="banner-title">Sports Shoes</h3>
                        <a href="/Sports/index#ProductView" class="btn btn-dark text-uppercase">Show Now</a>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-ad bg-secondary-subtle"
                     style="background: url('/images/ad-image-2.png');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                        <div class="fs-6 pt-5">Upto 25% Off</div>
                        <h3 class="banner-title">Trending Products</h3>
                        <a href="/TrendingSellings/Index#ProductView" class="btn btn-dark text-uppercase">Show Now</a>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section id="trending" class="py-5">
    <div class="container-fluid">
        <h3>Trending Products</h3>


        <div class="row">
            <div class="col-md-12">

                @if (isAdmin)
                {
                    <p>
                        <a asp-controller="Trendingsellings" asp-fragment="ProductView" asp-action="Create" class="btn btn-primary mb-3">+ Add Product</a>
                    </p>
                }


                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow-sm">
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@Url.Content(item.ImageUrl)" alt="@item.Name" class="img-fluid">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none text-dark">
                                            @item.Name
                                        </a>
                                    </h5>
                                    <p class="card-text text-muted">@item.Brand.Name | @item.Category.Name</p>
                                    <p class="card-text"><strong>$@item.Price</strong></p>
                                    <div>
                                        <strong>Sizes:</strong>
                                        @string.Join(", ", item.ProductSizes.Select(ps => ps.Size.Name))
                                        <br />
                                        <strong>Color:</strong> @item.Color
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a asp-controller="Products"asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }




                </div>
                <!-- / product-grid -->

            </div>
        </div>
    </div>
</section>


<section class="py-5 overflow-hidden">
<section class="py-5">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="banner-ad bg-secondary-subtle mb-3"
                     style="background: url('/images/ad-image-3.png');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                        <div class="fs-6 pt-5">Upto 25% Off</div>
                        <h3 class="banner-title">Gentlemen Classics</h3>
                        <a href="/Oxfords/Index#ProductView" class="btn btn-dark text-uppercase">Show Now</a>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-ad bg-secondary-subtle"
                     style="background: url('/images/ad-image-4.png');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                        <div class="fs-6 pt-5">Upto 25% Off</div>
                        <h3 class="banner-title">Boots Wears</h3>
                        <a href="/Boots/Index#ProductView" class="btn btn-dark text-uppercase">Show Now</a>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>



<section class="py-5">
    <div class="container-fluid">

        <div class="bg-warning py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 p-5">
                        <div class="section-header">
                            <h2 class="section-title display-4">
                                Get <span class="text-danger">25% Discount</span> on your first
                                purchase
                            </h2>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere
                            maecenas. At tellus ut nunc amet vel egestas.
                        </p>
                    </div>
                    <div class="col-md-6 p-5">
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder="Name">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control form-control-lg" name="email" id="email"
                                       placeholder="abc@mail.com">
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <label class="form-check-label" for="subscribe">
                                    <input class="form-check-input" type="checkbox" id="subscribe" value="subscribe">
                                    Subscribe to the newsletter
                                </label>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>

<section id="latest-blog" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="section-header d-flex align-items-center justify-content-between my-5">
                <h2 class="section-title">Recent Blog</h2>
                <div class="btn-wrap align-right">
                    <a href="#" class="d-flex align-items-center nav-link">
                        Read All Articles
                        <svg width="24" height="24">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="https://www.onefridayworld.com/blogs/all/10-travel-friendly-looks-your-kids-will-actually-love?srsltid=AfmBOoqh8M9LIo0GPhXICf5ysYiS5paRqZPoxDiY-IL9LxePQhw0gA-l">
                            <img src="~/images/post-thumb-1.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date">
                                <svg width="16" height="16">
                                    <use xlink:href="#calendar"></use>
                                </svg>22 Aug 2021
                            </div>
                            <div class="meta-categories">
                                <svg width="16" height="16">
                                    <use xlink:href="#category"></use>
                                </svg>tips & tricks
                            </div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="https://www.onefridayworld.com/blogs/all/10-travel-friendly-looks-your-kids-will-actually-love?srsltid=AfmBOoqh8M9LIo0GPhXICf5ysYiS5paRqZPoxDiY-IL9LxePQhw0gA-l" class="text-decoration-none">Top 10 casual look ideas to dress up your kids</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipi elit. Aliquet eleifend viverra enim tincidunt donec
                                quam. A in arcu, hendrerit neque dolor morbi...
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="https://www.zahmal.store/blog/latest-trends-of-wearing-street-wears-supremely">
                            <img src="~/images/post-thumb-2.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date">
                                <svg width="16" height="16">
                                    <use xlink:href="#calendar"></use>
                                </svg>25 Aug 2021
                            </div>
                            <div class="meta-categories">
                                <svg width="16" height="16">
                                    <use xlink:href="#category"></use>
                                </svg>trending
                            </div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="https://www.zahmal.store/blog/latest-trends-of-wearing-street-wears-supremely" class="text-decoration-none">Latest trends of wearing street wears supremely</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipi elit. Aliquet eleifend viverra enim tincidunt donec
                                quam. A in arcu, hendrerit neque dolor morbi...
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post-item card border-0 shadow-sm p-3">
                    <div class="image-holder zoom-effect">
                        <a href="https://www.femtechleaders.com/12-different-types-of-comfortable-clothes-for-women/">
                            <img src="~/images/post-thumb-3.jpg" alt="post" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                            <div class="meta-date">
                                <svg width="16" height="16">
                                    <use xlink:href="#calendar"></use>
                                </svg>28 Aug 2021
                            </div>
                            <div class="meta-categories">
                                <svg width="16" height="16">
                                    <use xlink:href="#category"></use>
                                </svg>inspiration
                            </div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="https://www.femtechleaders.com/12-different-types-of-comfortable-clothes-for-women/" class="text-decoration-none">10 Different Types of comfortable clothes ideas for women</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipi elit. Aliquet eleifend viverra enim tincidunt donec
                                quam. A in arcu, hendrerit neque dolor morbi...
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>